<nav id="navigation" class="navigation-outer -{{ include.theme }}">
	<ul class="navigation-large">
		{% for page in site.nav %}{% assign anchor = page[1] | slice: 1 %}<li class="navigation-item"><a {% if anchor == '#' %}data-scroll{% endif %} class="navigation-link" href="{{ site.baseurl }}{{ page[1] }}">{{ page[0] }}</a></li>{% endfor %}
	</ul>
	<div class="navigation-small">
	    {% for mobile in site.mobile %}
	    <a data-scroll class="navigation-link" href="{{ site.baseurl }}{{ mobile[1] }}">{{ mobile[0] }} →</a>
	    {% endfor %}
	</div>
</nav>