{% capture html %}
<ul class="nav-wrapper">
{% assign entries = site.pages | where:"lang", page.lang | sort: "order" %}
{% for entry in entries %}
	{% unless entry.exclude == true %}

    {% capture slug %}{{ entry.url | split: "/" | last }}{% endcapture %}
    {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

    {% if current == include.context %}
      <li class="nav-item {% if page.url contains entry.url %} open{% endif %}">
        <a class="nav-link{% if page.url == entry.url %} active{% endif %}" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
      </li>
    {% endif %}

	{% endunless %}
{% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'      ','' | replace:'    ','' | replace:'  ',' ' }}
