// ==== COLORS ==== //

// Set all colors related things here.

// 1. Base colors
// 2. Color transformations
// 3. palette()

// 1. Base colors

$base-pink: #da1884;
$base-orange: #ff6d2d;
$base-turquoise: #40e0d0;

$base-blue: #2979ff;
$base-violet: #d500f9;
$base-red: red;
$base-green: #00e676;
$base-yellow: #ffea00;

$factor-lighter: 32%;
$factor-light: 8%;
$factor-dark: 8%;
$factor-darker: 24%;

$primary: orange;
$secondary: turquoise;

// 2. Color transformations //

// Sass map for the color palette; see `_library.scss` for the palette() function.
$_palettes: (
  pink: (
    lighter: lighten($base-pink, $factor-lighter),
    light:   lighten($base-pink, $factor-light),
    base:    $base-pink,
    dark:    darken($base-pink, $factor-dark),
    darker:  darken($base-pink, $factor-darker)
  ),
  orange: (
    lighter: lighten($base-orange, $factor-lighter),
    light:   lighten($base-orange, $factor-light),
    base:    $base-orange,
    dark:    darken($base-orange, $factor-dark),
    darker:  darken($base-orange, $factor-darker)
  ),
  turquoise: (
    lighter: lighten($base-turquoise, $factor-lighter),
    light:   lighten($base-turquoise, $factor-light),
    base:    $base-turquoise,
    dark:    darken($base-turquoise, $factor-dark),
    darker:  darken($base-turquoise, $factor-darker)
  ),
  blue: (
    lighter: lighten($base-blue, $factor-lighter),
    light:   lighten($base-blue, $factor-light),
    base:    $base-blue,
    dark:    darken($base-blue, $factor-dark),
    darker:  darken($base-blue, $factor-darker)
  ),
  violet: (
    lighter: lighten($base-violet, $factor-lighter),
    light:   lighten($base-violet, $factor-light),
    base:    $base-violet,
    dark:    darken($base-violet, $factor-dark),
    darker:  darken($base-violet, $factor-darker)
  ),
  red: (
    lighter: lighten($base-red, $factor-lighter),
    light:   lighten($base-red, $factor-light),
    base:    $base-red,
    dark:    darken($base-red, $factor-dark),
    darker:  darken($base-red, $factor-darker)
  ),
  green: (
    lighter: lighten($base-green, $factor-lighter),
    light:   lighten($base-green, $factor-light),
    base:    $base-green,
    dark:    darken($base-green, $factor-dark),
    darker:  darken($base-green, $factor-darker)
  ),
  yellow: (
    lighter: lighten($base-yellow, $factor-lighter),
    light:   lighten($base-yellow, $factor-light),
    base:    $base-yellow,
    dark:    darken($base-yellow, $factor-dark),
    darker:  darken($base-yellow, $factor-darker)
  ),
  gray: (
    base: #666,
    lighter: #f5f5f5,
    light: #ccc,
    dark: #333,
    darker: #1a1a1a
  ),
  white: (
    base: #fff,
    light: #fff,
    dark: #fff
  )
);

// 3. palette() //

// A simple function to retrieve a color from the palette.
// Adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
@function palette($palette, $tone: "base") {
  @return map-get(map-get($_palettes, $palette), $tone);
}
