// ==== SECTION ==== //

// Style the homepage sections here.

// 1. General
// 2. Creating
// 3. Writing

// 1. General //

.section {
  @include clearfix;

  margin-top: 4rem;
  margin-bottom: 2rem;

  > h1 {
    @include ctnr(one);
  }

  > article {
    @include ctnr(two);

    > *:first-child,
    > *:first-child .section-header {
      margin-top: .5rem;
    }
  }
}

.section-title {
  @include font(header1);

  margin-top: 0;
  margin-bottom: 2rem;

  &::after {
    display: block;
    width: 4rem;
    height: 0.33rem;
    margin-top: .5rem;
    background-color: palette($primary);
    content: "";
  }
}

.section-header {
  @include font(header2);

  margin-top: 2rem;
  margin-bottom: .5rem;
}

.section-body {
  @include font(app);

  margin-top: .5rem;
  margin-bottom: .5rem;
}

.section-link {
  @include link-underline;
}
