// ==== SECTION ==== //

// Style the homepage sections here.

// 1. General
// 2. Creating
// 3. Writing

// 1. General //

.section {
  @include clearfix;

  margin-top: 4rem;
  margin-bottom: 2rem;

  > h1 {
    @include ctnr(one);
  }

  > article {
    @include ctnr(two);

    > *:first-child,
    > *:first-child .section-header {
      margin-top: .5rem;
    }
  }
}

.section-title {
  @include font(header1);

  margin-bottom: 2rem;
}

.section-header {
  @include font(header2);

  margin-top: 2rem;
  margin-bottom: .5rem;
  transition: color $short;

  a &:hover,
  a &:focus {
    color: palette($primary);
  }
}

.section-body {
  @include font(body);

  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: color $short;

  a &:hover,
  a &:focus {
    color: palette(gray, dark);
  }
}

.section-link {
  @include link-underline;
}
