// ==== FOOTER ==== //

/* Style the footer here. */



.footer {
	@include ctnr(golden);

	padding-top: vr(1);
	padding-bottom: vr(1);
}

.footer-text {
	@include font(header3);

	text-align: center;
	color: palette(gray);
}