// ==== FORM ==== //

/* Style all form components here. */

/* 
 * 1. Buttons
 * 2. Inputs
 * 3. Labels
 * 4. Underline
 * 5. Highlight
 */



// 1. Buttons //

.button {
	@include font(app);

	font-size: ms(-1);
	text-decoration: none;
	letter-spacing: 1px;
	color: palette($primary);
	display: inline-block;
	outline: none;
	padding: vr(.25) vr(.5);
	border: 2px solid palette($primary);
	background-color: palette(white);
	cursor: pointer;
	transition: $short;

	&:hover,
	&:focus {
		color: palette(white);
		background-color: palette($primary);
	}
}



// 2. Inputs //

.form-input {
	@include font(app);

	display: block;
	padding: vr(.25);
	border: none;
	border-bottom: 2px solid palette(gray, light);
	background-color: palette(gray, lighter);
	width: 100%;
	resize: none;
	outline: none;
	transition: background-color $short;

	/* Active state */

	&:focus {
		outline: none;
		background-color: palette($primary, lighter);
	}

	/* Error state */

	&:not(:focus):not(:placeholder-shown):invalid {
		background-color: palette(red, lighter);
	}
}

textarea {
	resize: vertical;
}

select {
	@include font(app);

	font-size: ms(-1);
	border: 1px solid palette(gray);
	border-radius: 5px;
	background: #fff;
	padding: vr(.5);
  	display: block;
  	margin: vr(.25) 0;
  	height: vr(1.25);
  	outline: none;

  	&:focus,
	&:active {
		box-shadow: 0px 0px 5px 1px palette($primary);

	}
}



// 3. Labels //

.form-group {
  position: relative;
  margin-top: vr(1.5);
  margin-bottom: vr(1);
}

.form-error {
	@include font(app);

	font-size: ms(-1);
	display: none;
	color: red;
	transition: $short;

	svg {
		height: 18px;
		width: 18px;
		margin-right: 6px;
		vertical-align: middle;
		fill: currentColor;
	}
}

.form-label {
	@include font(app);
	color: palette(gray, light);
	position: absolute;
	pointer-events: none;
	top: vr(.25);
	left: vr(.25);
	transition: $short;
}

/* Active state */

.form-input {
	&:focus ~ .form-label,
	&:valid ~ .form-label {
		color: palette($primary);
		font-size: ms(-1);
		left: 0;
		top: -#{vr(1)};
	}

	/* Valid state */

	&:not(:focus) ~ .form-label {
		color: palette(gray);
	}

	/* Error state */

	&:not(:focus):not(:placeholder-shown):invalid ~ .form-label {
		color: palette(red);
	}

	&:not(:focus):not(:placeholder-shown):invalid ~ .form-error {
		display: inline-block;
	}
}

/* Separated to help Firefox ignore :placeholder-shown */
.form-input {
	&:not(:placeholder-shown) ~ .form-label {
		color: palette($primary);
		font-size: ms(-1);
		left: 0;
		top: -#{vr(1)};
	}
	&:not(:placeholder-shown):not(:focus) ~ .form-label {
		color: palette(gray);
	}
}



// 4. Underline //

.form-underline {
	position: relative;
	display: block;
	width: 100%;
}

.form-underline:before,
.form-underline:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0;
	position: absolute;
	background: palette($primary);
	transition: $short;
}

.form-underline:before {
	left: 50%;
}

.form-underline:after {
	right: 50%;
}

.form-input {

	/* Error state */

	&:not(:focus):not(:placeholder-shown):invalid ~ .form-underline:before,
	&:not(:focus):not(:placeholder-shown):invalid ~ .form-underline:after {
		width: 50%;
		background: red;
	}

	&:focus ~ .form-underline:before,
	&:focus ~ .form-underline:after {
		width: 50%;
	}
}



// 5. Highlighter //

.form-highlight {
	position: absolute;
	height: vr(1.5);
	width: 33%;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0.33;
}

/* Active state */

.form-input:focus ~ .form-highlight {
  animation: inputHighlighter $long;
}

/* Animations */

@keyframes inputHighlighter {
	from {
		background: palette($secondary, light);
	}
	to {
		width: 0;
		background: transparent;
	}
}