// ==== LIBRARY ==== //

/* Define mixins, functions, and other non-declarative things here. */

/*
 * 1. Settings
 * 2. Gradients
 * 3. Borders, Underlines & Overlays
 */



// 1. Settings //

/* 
 * A simple function to retrieve a color from the palette.
 * Adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/ 
 */
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($_palettes, $palette), $tone);
}

/* A simple function to retrieve theme metadata */
@function metadata($request) {
  @return map-get($_metadata, $request);
}



// 2. Gradients //

@function gradient($direction, $color-stops...) {
  @return linear-gradient($direction, $color-stops);
}



// 3. Borders, Underlines & Overlays //

$border-gray: 1px solid palette(gray, light);
$border-grey: $border-gray;

@mixin border() {
  @include mappy-bp(small) {
    border: 1px solid palette(gray, light);
    padding: vr(0.75) vr(1);
  }
}

@mixin gradient-border($direction, $color-stops...) {
  position: relative;
  &:before {
    content: "";
    display: block;
    background-color: nth($color-stops, 1);
    background-image: gradient($direction, $color-stops);
    width: 100%;
    height: 3px;
  }
}

@mixin link-underline() {
  position: relative;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    transition: $short;
  }
}