// ==== CONTENT ==== //

// Style the page and post content here.

.content {
  @include ctnr(three);
}

.content-header {
  @include ctnr(two);

  padding-top: 8rem;
  padding-bottom: 2rem;
}

.content-icon {
  display: block;
  width: 25%;
  height: 25%;
  margin: 0 auto;
  fill: url("#icon-gradient");

  stop:first-child {
    stop-color: palette($primary);
  }

  stop:last-child {
    stop-color: palette($primary);
  }
}

.content-style {
  h1 {
    @include ctnr(two);

    @include font(header1);
  }

  h2 {
    @include ctnr(two);

    @include font(header2);
  }

  p {
    @include ctnr(two);

    @include font(body);
  }
}
