// ==== FOOTER ==== //

// Style the footer here.

.footer {
  @include ctnr(three);
  @include clearfix;

  margin-top: 2rem;
}

.footer-logo {
  @include ctnr(one);

  display: inline-block;
  margin-top: 2.5rem;

  svg {
    width: 40px;
    height: 40px;
    transition: fill $short;
    fill: palette(gray, darker);

    &:hover,
    &:focus {
      fill: palette($primary);
    }
  }
}

.footer-navigation {
  @include ctnr(two);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  @include font(header3);

  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: $sans;
  font-weight: $sans-bold;
}

.footer-links {
  display: block;
  width: calc(50% - 2rem);
}

.footer-text {
  @include ctnr(two);

  @include font(app);

  margin-top: 2rem;
  margin-bottom: 1rem;
  color: palette(gray, light);

  a {
    color: palette(gray, light);

    &:hover,
    &:focus {
      color: palette($primary);
    }
  }
}
