// ==== FOOTER ==== //

// Style the footer here.

.footer {
  @include ctnr(three);
  @include clearfix;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-text {
  @include ctnr(two);

  color: palette(gray);
  font-family: $sans;
  font-size: 16px;
  font-weight: $sans-semibold;
  letter-spacing: 0.5px;

  a {
    transition: color $short;

    &:hover,
    &:focus {
      color: palette($primary);
    }
  }
}
