// ==== FORM ==== //

// Style all form components here.

// 1. Buttons
// 2. Inputs
// 3. Labels
// 4. Highlight

// 1. Buttons

.button {
  @include font(app);

  display: inline-block;
  padding: vr(0.25) vr(0.5);
  transition: $short;
  border: 2px solid palette($primary);
  outline: none;
  background-color: palette(white);
  color: palette($primary);
  font-size: ms(-1);
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: palette($primary);
    color: palette(white);
  }
}

// 2. Inputs

.form-input {
  @include font(app);

  display: block;
  width: 100%;
  padding: vr(0.25) vr(0.5);
  transition: background-color $short;
  border: 0;
  border-radius: vr(0.25);
  outline: none;
  background-color: palette(gray, lighter);
  resize: none;

  // Active state

  &:focus {
    outline: none;
    background-color: palette($primary, lighter);
  }

  // Error state

  &:not(:focus):not(:placeholder-shown):invalid {
    background-color: palette(red, lighter);
  }
}

textarea {
  resize: vertical;
}

.form-select {
  @include font(app);

  display: block;
  height: vr(1.25);
  margin: vr(2.25) 0 vr(0.25);
  padding: vr(0.5);
  transition: $short;
  border: 1px solid palette(gray, light);
  border-radius: 5px;
  outline: none;
  background-color: palette(gray, lighter);
  font-size: ms(-1);

  &:focus,
  &:active {
    border: 1px solid palette($primary);
  }
}

// 3. Labels

.form-group {
  position: relative;
  margin-top: vr(1.5);
  margin-bottom: vr(1);
}

.form-error {
  @include font(app);

  max-height: 0;
  transition: $short;
  color: red;
  font-size: ms(-1);
  overflow: hidden;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    vertical-align: middle;
    fill: currentColor;
  }
}

.form-label {
  @include font(app);

  position: absolute;
  top: vr(0.25);
  left: vr(0.5);
  transition: $short;
  color: palette(gray);
  pointer-events: none;
}

.form-select ~ label {
  @include font(app);

  position: absolute;
  top: -#{vr(1.125)};
  left: 0;
  transition: $short;
  color: palette(gray);
  font-size: ms(-1);
}

// Active state

.form-select:focus ~ label,
.form-select:active ~ label {
  color: palette($primary);
}

.form-input {
  &:focus ~ .form-label,
  &:valid ~ .form-label {
    top: -#{vr(1)};
    left: 0;
    color: palette($primary);
    font-size: ms(-1);
  }

  // Valid state

  &:not(:focus) ~ .form-label {
    color: palette(gray);
  }

  // Error state

  &:not(:focus):not(:placeholder-shown):invalid ~ .form-label {
    color: palette(red);
  }

  &:not(:focus):not(:placeholder-shown):invalid ~ .form-error {
    max-height: vr(1);
  }
}

// Separated to help Firefox ignore :placeholder-shown
.form-input {
  &:not(:placeholder-shown) ~ .form-label {
    top: -#{vr(1)};
    left: 0;
    color: palette($primary);
    font-size: ms(-1);
  }

  &:not(:placeholder-shown):not(:focus) ~ .form-label {
    color: palette(gray);
  }
}

// 4. Highlighter

.form-highlight {
  position: absolute;
  top: 0;
  left: vr(0.5);
  width: 33%;
  height: vr(1.5);
  opacity: 0.33;
  pointer-events: none;
}

// Active state

.form-input:focus ~ .form-highlight {
  animation: inputHighlighter $long;
}

// Animations

@keyframes inputHighlighter {
  from {
    background: palette($primary, light);
  }

  to {
    width: 0;
    background: transparent;
  }
}
