// ==== HEADER ==== //

// Style the header here.

.header {
  margin-bottom: vr(0.5);
  background-color: #fafafa;
}

.header-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: 50% 50% / cover;
}

.header-svg {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 24rem;
  max-width: 80%;
  margin: 0 auto;
  transform: translateY(-50%);
}

.header-text {
  font-family: $sans;
  font-size: 56px;
  font-weight: $sans-bold;
}
