// ==== NAVIGATION ==== //

// Style the navigation here.

// 1. Container
// 2. Elements

// 1. Container //

.nav-wrapper {
  display: block;
  list-style: none;
  text-align: right;
}

// 2. Elements //

.nav-link {
  transition: color $short;
  color: palette(gray);
  font-family: $sans;
  font-size: 16px;
  font-weight: $sans-semibold;
  letter-spacing: 0.5px;
  vertical-align: bottom;

  &:hover {
    color: palette($primary);
  }

  // Light theme

  .headroom--top .nav.-light & {
    color: palette(white);
  }

  .headroom--top .nav.-light &:hover {
    color: palette($primary);
  }
}

.nav-item {
  display: inline-block;
  margin-left: 2rem;
  padding: 0;
}
