// ==== SHARE ==== //

// Style the sharing icons here.

.share {
  display: block;
}

.share-text {
  @include font(app);
}

.share-icon {
  margin-right: 1rem;
  text-shadow: none;

  svg {
    width: 1rem;
    height: 1rem;
    transition: fill $short;
    vertical-align: middle;
    fill: palette(gray);
  }

  &:hover,
  &:focus {
    background: none;

    svg {
      fill: palette($primary);
    }
  }
}
