---
layout: default
font: sans
---

<article class="content page">
  <header class="header">
    <a id="{{ page.title | url_encode }}"><h1 class="header-title">{{ page.title }}</h1></a>
    {% if page.image %}
      <div class="header-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}-large.jpg') 2x )">
    {% endif %}
  </header>

  <div class="content-style">
    {{ content }}

    {% include core/share.html %}
  </div>
</article>
