---
layout: default
font: serif
---

{% include core/metabar.html %}

<article class="content post">
  <header class="hero">
    <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
    {% include core/date.html %}
    {% if page.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <div class="content-style">
    <aside class="content-author">
      {% if page.author %}
        <a {% if page.author.url %}href="{{ page.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ page.author.url }} on url.">
          <div class="author-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/authors/{{ page.author.image }}-small.jpg')"></div>
        </a>
        <div class="author-text">
          <h4><a {% if page.author.url %}href="{{ page.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ page.author.url }} on url.">{{ page.author.name }}</a></h4>
          <p>{{ page.author.bio }}</p>
        </div>
      {% elsif site.author %}
        <a {% if site.author.url %}href="{{ site.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer">
          <div class="author-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/authors/{{ site.author.image }}-small.jpg')"></div>
        </a>
        <div class="author-text">
          <h4><a {% if site.author.url %}href="{{ site.author.url }}"{% endif %} target="_blank" rel="noopener noreferrer">{{ site.author.name }}</a></h4>
          <p>{{ site.author.bio }}</p>
        </div>
      {% endif %}
    </aside>

    {{ content }}

    {% include core/share.html %}

    {% if page.next.url %}
    <aside class="content-next">
      <article class="next-post">
        <h4 class="next-header">Next Post</h4>
        {% if page.next.image %}
        <div class="next-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.next.ref }}-small.jpg')"></div>
        {% endif %}
        <h5 class="next-title"><a href="{{ site.baseurl }}{{ page.next.url }}">{{page.next.title}}</a></h5>
      </article>
    </aside>
    {% endif %}
  </div>
</article>

{% if site.related_posts != empty %}
<aside class="content-related">
  <div class="related-container">
    <h3>Related Posts</h3>
    <div class="related-posts">
      {% for page in site.related_posts limit:3 %}
        <section class="related-post">
          <h4><a href="{{ site.baseurl }}{{ page.url }}" aria-label="{{ page.title }}">{{ page.title }}</a></h4>
          {% include core/date.html %}
        </section>
      {% endfor %}
    </div>
  </div>
</aside>
{% endif %}

{% include core/footer.html %}
