---
layout: default
font: serif
---

<article class="content post">
  <header class="header">
    <a id="{{ page.title | url_encode }}"><h1 class="header-title">{{ page.title }}</h1></a>
    {% include core/date.html %}
    {% if page.image %}
      <div class="header-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <div class="content-style">
    <div class="content-author">
      {% if site.author.image %}
        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ site.author.twitter }} on Twitter.">
          <div class="author-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ site.author.image }}-small.jpg')"></div>
        </a>
      {% endif %}
      <div class="author-text">
        <h4><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Follow @{{ site.author.twitter }} on Twitter.">{{ site.author.name }}</a></h4>
        <p>{{ site.author.bio }}</p>
      </div>
    </div>

    {{ content }}

    {% include core/share.html %}

    {% if page.next.url %}
    <aside class="content-next">
      <article class="next-post">
        <h4 class="next-header">Next Post</h4>
        {% if page.next.image %}
        <div class="next-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.next.ref }}-small.jpg')"></div>
        {% endif %}
        <h5 class="next-title"><a href="{{page.next.url}}">{{page.next.title}}</a></h5>
      </article>
    </aside>
    {% endif %}
  </div>
</article>

{% if site.related_posts != empty %}
<aside class="content-related">
  <div class="related-wrapper">
    <h3>Related Posts</h3>
    <div class="related-posts">
      {% for page in site.related_posts limit:3 %}
        <section class="related-post">
          <h4><a href="{{ site.baseurl }}{{ page.url }}" aria-label="{{ page.title }}">{{ page.title }}</a></h4>
          {% include core/date.html %}
        </section>
      {% endfor %}
    </div>
  </div>
</aside>
{% endif %}
