---
layout: default
---

<article class="content">
  <header class="header">
    <a name="{{ page.title }}"><h1 class="header-title">{{ page.title }}</h1></a>
    {% include core/date.html %}
    {% if page.image %}
      <div class="header-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}{{ page.image }}-large.jpg')"></div>
    {% endif %}
  </header>

  <div class="content-style">
    {{ content }}
  </div>

  {% if site.related_posts != empty %}
  <aside class="content-related">
    <h3>Related Posts</h3>
    <div>
      {% for page in site.related_posts limit:3 %}
        <section>
          <a href="{{ site.baseurl }}{{ page.url }}"><h4>{{ page.title }}</h4></a>
          {% include core/date.html %}
        </section>
      {% endfor %}
    </div>
  </aside>
  {% endif %}
</article>
